public/js/main.js.bak
index.html.bak
public/css/style.css.bak
public/js/typeRatio.js.bak
public/js/map.js.bak
.idea/campus-safety.iml
.idea/dictionaries/amir_.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Process_Book/Process_Book.aux
Process_Book/Process_Book.bbl
Process_Book/Process_Book.blg
Process_Book/Process_Book.dvi
Process_Book/Process_Book.log
Process_Book/Process_Book.synctex.gz
Tex/proposal.aux
Tex/proposal.bbl
Tex/proposal.blg
Tex/proposal.log
Tex/proposal.synctex.gz
.gitignore
